
.vs/SleepyTimeSoaps/v16/.suo
.vs/SleepyTimeSoaps/config/applicationhost.config
.vs/SleepyTimeSoaps/v16/.suo
.vs/SleepyTimeSoapsGitHub/v16/.suo
.vs/slnx.sqlite
SleepyTimeSoaps/obj/Debug/SleepyTimeSoaps.csprojAssemblyReference.cache
