
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron bg-dark" style="border-radius: 25px;">
    <div class="bg-white" style="border-radius: 15px; padding:15px; margin-top: -20px;">
        <h3>Confirmation</h3>

        <br />
        <br />

        <h4>Thank you for your payment!</h4>
        <p>Your order has been received, and we will email you with a confirmation, invoice, and status updates on order progress.</p>
    </div>
</div>