
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron bg-dark" style="border-radius: 25px;">
    <div class="bg-white" style="border-radius: 15px; padding:15px; margin-top: -20px;">
        <h3>Confirmation</h3>

        <br />
        <br />

        <h4>Thank you for your order!</h4>
        <p>
            Take your time proceed to the SleepyTimeSoaps booth location at the Larimer County Farmers' Market to pickup your order.
            <br />
            If you selected to pay with cash, please have your payment ready for speedy checkout.
        </p>
    </div>
</div>